.form-box{
    border: 1px solid black;
    height: 30vh;
    
    
}

.outside{
    position: absolute;
    top:50px;
    right:5px;
    overflow: scroll;
    margin: auto;
    width: 80%;
    background-color: transparent;
    height: 60vh;
}