.outter-box{
    position: absolute;
    top:50px;
    right:5px;
    margin: auto;
    background-color:transparent;
    width: 80%;
 
}

.main-box{ 
  
    margin-top: 60px;
    margin: auto;
    width: 75%;
    border: 2px solid black;
    display:flex;
    flex-direction: column;

}

.image-box{
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    height: 30vh;
}
.posts{
    display: flex;
    height: fit-content;
    width: 500px;
border:3px solid black;
margin: auto;
padding: -4px;
box-shadow: 05px 05px 5px 0px ;
}
 #p1{
width: 33%;
 }
 #p2{
width: 33%;
 }
 #h1s{
     margin: auto;
     font-size:70px;
     font-family: cursive;
 }