.outter-box{
    position: absolute;
    top:50px;
    right:5px;
    margin: auto;
    background-color:transparent;
    width: 80%;
    height: 80vh;
}

.main-box{ 
  
    margin-top: 60px;
    margin: auto;
    width: 75%;
    border: 2px solid black;
    display:flex;
    flex-direction: column;

}

.image-box{
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    height: 30vh;
}