.outside-box{
    position: absolute;
top:50px;
left:500px;
margin: auto;
background-color:transparent;
width: 80%;
}

.inside-area{
    position: absolute;
    top:50px;
    right:5px;
}
#divid{
    padding-left: 20px;
    margin: auto;
}