body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #FF70A6 , #FF9770, #FFD670, #E9FF70);
  font-family: 'Modak', cursive; ;
}

#App {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainView{
  display: flex;
  flex-direction: column;
}
