.main3{
   width: 15vw;
   height:100vh;
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   
}

img{
    max-width: 15vw;
    max-height: 15vh;
}